
# ===============================
# ⚙️ Config (React)
# ===============================

**/.env
**/.env.*
# !config/.env.dev
!config/.env.local

# ===============================
# 🧱 Web (React)
# ===============================

**/node_modules
**/dist
**/build


# ===============================
# 🧠 Backend (Spring Boot)
# ===============================
**/target/
**/build/
**/out/
**/.gradle/
**/.mvn/
